/** VARIABLES OF SCSS **/
/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
/* WILD CARD */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #F4E5D8;
}

::-webkit-scrollbar-thumb {
  background-color: #D9DFF2;
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: center;
  font-family: "Mulish";
  color: #2F2F2F;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  z-index: 8;
  height: 4.5rem;
  width: 100%;
}
header .navbar {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header .navbar .navBrand {
  display: flex;
  align-items: center;
}
header .navbar .navBrand .brandText {
  margin-left: 0.5vw;
  font-weight: 800;
  font-size: 1.7rem;
  padding-bottom: 3vw;
}
header .navbar .navBrand .brandLogo img {
  width: 2em;
  margin-top: 5px;
  padding-bottom: 3vw;
}
header .navbar .navLinks {
  display: flex;
  height: 1.302vw;
  width: 45em;
  padding-left: 9vw;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vw;
  font-weight: 700;
  font-size: 1.1rem;
}
header .navbar .sideBar {
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  font-size: 2.5vw;
  padding-top: 4vw;
  padding-left: 5vw;
  padding-bottom: 2vw;
}
header .navbar .sideBar i {
  padding-left: 20vw;
  font-size: 4vw;
}
header .navbar .sideBar a {
  width: 100%;
  padding-left: 5.5vw;
  color: black;
  font-weight: 600;
}
header .navbar .sideBar li {
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
header .navbar .sideBar li a {
  color: black;
}
header .navbar .menu {
  display: none;
}

@media (max-width: 540px) {
  header .navbar .navLinks {
    display: none;
  }
  header .navbar .menu {
    display: flex;
    font-size: 4vw;
    margin-bottom: 2.5vw;
    padding-right: 1rem;
  }
  header .navbar .sideBar i {
    padding-left: 35vw;
    font-size: 4.5vw;
  }
  header .navbar .sideBar li {
    padding-left: 2.7rem;
  }
}
@media (max-width: 430px) {
  header .navbar .navBrand .brandText {
    font-size: 1.3rem;
  }
  header .navbar .navBrand .brandLogo img {
    font-size: 0.8rem;
  }
}
#bannerSection {
  display: flex;
  justify-content: center;
}
#bannerSection .banner {
  background-image: url("../svg/bannerBg.svg");
  border-radius: 2vw;
  width: 90%;
  height: 38vw;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#bannerSection .banner .bannerContent {
  text-align: center;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 2rem;
  width: 38.49vw;
  height: 32.398vw;
  margin-top: 5.8vw;
}
#bannerSection .banner .bannerContent #name {
  font-family: "Fraunces";
  font-size: 3.5rem;
  color: #242F65;
  font-weight: 600;
}
#bannerSection .banner .bannerContent #Developer {
  font-family: "Mulish";
  font-size: 2.2rem;
  font-weight: 800;
  color: #FF774C;
}
#bannerSection .banner .bannerContent #company {
  font-family: "Mulish";
  font-size: 2.2rem;
  font-weight: 800;
  color: #7AA3F3;
  text-decoration: underline;
}
#bannerSection .banner .bannerContent .hornImage img {
  width: 2vw;
  margin-left: 0.5vw;
}
#bannerSection .banner .bannerContent .circleMain {
  display: flex;
  justify-content: center;
}
#bannerSection .banner .bannerContent .circleMain .bannerCircle {
  margin-top: 3.5vw;
}
#bannerSection .banner .bannerContent .circleMain .bannerCircle #text {
  font-weight: 800;
}
#bannerSection .banner .bannerContent .circleMain .bannerCircle span {
  position: absolute;
  transform-origin: 0 60px;
  font-size: 9px;
}
#bannerSection .banner .bannerContent .circleMain .bannerCircle #bannerStar {
  position: relative;
  top: 2vh;
  left: 0.4vw;
  font-size: 10px;
}
#bannerSection .banner .bannerContent .circleMain #bannerArrow {
  position: relative;
  top: 13.5vh;
  right: 4.2vw;
  font-size: 30px;
}

.workTitle {
  font-family: "Mulish";
  margin-top: 10vh;
  text-align: center;
}
.workTitle i {
  font-size: 1.5vw;
}

.bannerLine1 {
  width: 80%;
  height: 1px;
  background-color: #525665;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  #bannerSection .banner {
    height: 45vw;
  }
  #bannerSection .banner .bannerContent {
    margin-top: 4rem;
  }
  #bannerSection .banner .bannerContent .circleMain #bannerArrow {
    right: 5vw;
    top: 7vw;
  }
}
@media (max-width: 1024px) {
  #bannerSection .banner {
    height: 60vw;
  }
  #bannerSection .banner .bannerContent {
    margin-top: 0;
  }
  #bannerSection .banner .bannerContent .circleMain #bannerArrow {
    right: 6.2vw;
  }
}
@media (max-width: 912px) {
  #bannerSection .banner {
    height: 80vw;
  }
  #bannerSection .banner .bannerContent {
    margin-top: -6rem;
  }
  #bannerSection .banner .bannerContent .circleMain #bannerArrow {
    top: 8vw;
  }
}
@media (max-width: 820px) {
  #bannerSection .banner .bannerContent .circleMain #bannerArrow {
    top: 9vw;
    left: -3.8rem;
  }
}
@media (max-width: 540px) {
  #bannerSection .banner .bannerContent {
    font-size: 1.5rem;
    margin-top: -11rem;
  }
  #bannerSection .banner .bannerContent #name {
    font-size: 2rem;
  }
  #bannerSection .banner .bannerContent #Developer {
    font-size: 1.5rem;
  }
  #bannerSection .banner .bannerContent #company {
    font-size: 1.5rem;
  }
  #bannerSection .banner .bannerContent .circleMain .bannerCircle {
    margin-top: 7.5vw;
  }
  #bannerSection .banner .bannerContent .circleMain #bannerArrow {
    top: 15vw;
  }
}
@media (min-width: 344px) and (max-width: 539px) {
  #bannerSection .banner {
    height: 120vw;
  }
  #bannerSection .banner .bannerContent {
    margin-top: -16rem;
  }
}
#workSection1 {
  background-image: url("../svg/workBg.svg");
  height: 34.8rem;
  width: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin: 7vw 28vw 0 10vw;
  overflow: hidden;
}
#workSection1 .circle1 {
  position: relative;
  width: 15rem;
  height: 8vw;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 80%;
  background-color: #D9DFF2;
  padding: 15px;
  z-index: 5;
}
#workSection1 .workContent1 {
  width: 60%;
  height: 21.6rem;
  margin-left: -40px;
  margin-top: 6vw;
  font-family: "Mulish";
}
#workSection1 .workContent1 .workHeading {
  font-size: 2.5rem;
  color: #242F65;
  font-weight: 600;
  font-family: "Fraunces";
}
#workSection1 .workContent1 .workButtons {
  margin: 1.5vw 0;
}
#workSection1 .workContent1 .workButtons button {
  background-color: #d9deee;
  color: #242F65;
  border-radius: 5px;
  padding: 7px 15px;
  border: 2px solid #d9deee;
}
#workSection1 .workContent1 .workText {
  font-weight: 500;
  font-size: 1.25rem;
  color: #525665;
  margin-bottom: 1.5vw;
}
#workSection1 .workContent1 .workMainButton button {
  padding: 1vw 2.5vw;
  border-radius: 0.5vw;
  color: white;
  border: 2px solid #FF774C;
  background-color: #FF774C;
  font-size: 1vw;
}
#workSection1 .workImage1 img {
  width: 26vw;
  position: relative;
  left: 8rem;
  top: 1rem;
  z-index: 4;
  height: 39vw;
  bottom: 3vw;
}
#workSection1 .curve {
  position: relative;
  top: 2px;
  width: 25vw;
  height: 36.1vw;
  border-top-left-radius: 90px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #d9deee;
}

@media (max-width: 1280px) {
  #workSection1 .workImage1 img {
    top: 5rem;
  }
}
@media (max-width: 1024px) {
  #workSection1 {
    height: 29.8rem;
  }
  #workSection1 .circle1 {
    width: 10rem;
  }
  #workSection1 .workImage1 img {
    top: 4rem;
  }
  #workSection1 .curve {
    height: 45.1vw;
  }
}
@media (max-width: 820px) {
  #workSection1 .workImage1 img {
    top: -1rem;
    height: 33rem;
  }
}
@media (max-width: 768px) {
  #workSection1 {
    height: 24rem;
  }
  #workSection1 .workContent1 .workHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #workSection1 .workContent1 .workText {
    font-size: 1rem;
    margin: 1.3rem 0;
  }
  #workSection1 .workImage1 img {
    top: 3rem;
    height: 23rem;
  }
}
@media (max-width: 540px) {
  .workTitle i {
    font-size: 2.8vw;
  }
  #workSection1 {
    height: 20rem;
  }
  #workSection1 .curve {
    display: none;
  }
  #workSection1 .circle1 {
    width: 3rem;
  }
  #workSection1 .workContent1 {
    margin-left: -17px;
    margin-top: 7vw;
  }
  #workSection1 .workContent1 .workText {
    font-size: 0.9rem;
  }
  #workSection1 .workContent1 .workButtons button {
    font-size: 0.7rem;
  }
  #workSection1 .workContent1 .workMainButton button {
    font-size: 1.6vw;
  }
  #workSection1 .workImage1 img {
    top: 1.5rem;
    left: -0.5rem;
    height: 18rem;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
  #workSection1 {
    height: 18rem;
  }
  #workSection1 .workContent1 {
    margin-left: -68px;
    margin-top: 9vw;
    width: 50%;
  }
  #workSection1 .workContent1 .workHeading {
    font-size: 1rem;
  }
  #workSection1 .workContent1 .workButtons button {
    font-size: 0.5rem;
  }
  #workSection1 .workContent1 .workText {
    font-size: 0.7rem;
  }
  #workSection1 .workImage1 img {
    top: -0.5rem;
  }
}
@media (min-width: 344px) and (max-width: 411px) {
  #workSection1 .workContent1 {
    margin-left: -41px;
    margin-top: 2rem;
  }
  #workSection1 .workContent1 .workHeading {
    margin-bottom: 0;
    font-size: 1rem;
  }
  #workSection1 .workContent1 .workText {
    font-size: 0.7rem;
  }
  #workSection1 .workContent1 .workButtons button {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
  #workSection1 .workImage1 img {
    top: -0.5rem;
  }
}
#workSection2 {
  background-image: url("../svg/workBg2.svg");
  height: 34.8rem;
  width: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin: 7vw 28vw 0 10vw;
  overflow: hidden;
}
#workSection2 .circle2 {
  position: relative;
  width: 15rem;
  height: 8vw;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 80%;
  background-color: #E3E3E3;
  padding: 15px;
  z-index: 5;
}
#workSection2 .workContent2 {
  width: 60%;
  height: 21.6rem;
  margin-left: -40px;
  margin-top: 6vw;
  font-family: "Mulish";
}
#workSection2 .workContent2 .workHeading {
  font-size: 2.5rem;
  color: #242F65;
  font-weight: 600;
  font-family: "Fraunces";
}
#workSection2 .workContent2 .workButtons {
  margin: 1.5vw 0;
}
#workSection2 .workContent2 .workButtons button {
  background-color: #d9deee;
  color: #242F65;
  border-radius: 5px;
  padding: 7px 15px;
  border: 2px solid #d9deee;
}
#workSection2 .workContent2 .workText {
  font-weight: 500;
  font-size: 1.25rem;
  color: #525665;
  margin-bottom: 1.5vw;
}
#workSection2 .workContent2 .workMainButton button {
  padding: 1vw 2.5vw;
  border-radius: 0.5vw;
  color: white;
  border: 2px solid #FF774C;
  background-color: #FF774C;
  font-size: 1vw;
}
#workSection2 .workImage2 img {
  width: 26vw;
  position: relative;
  left: 12rem;
  top: -3rem;
  z-index: 4;
  height: 39vw;
  bottom: 3vw;
}
#workSection2 .curve {
  position: relative;
  top: 2px;
  width: 25vw;
  height: 36.1vw;
  border-top-left-radius: 90px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #E3E3E3;
}

@media (max-width: 1280px) {
  #workSection2 .workImage2 img {
    top: 0rem;
  }
}
@media (max-width: 1024px) {
  #workSection2 {
    height: 29.8rem;
  }
  #workSection2 .circle2 {
    width: 10rem;
  }
  #workSection2 .workImage2 img {
    top: 0rem;
  }
}
@media (max-width: 912px) {
  #workSection2 .workImage2 img {
    top: -2rem;
    left: 9rem;
    height: 27rem;
  }
}
@media (max-width: 768px) {
  #workSection2 {
    height: 24rem;
  }
  #workSection2 .workContent2 .workHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #workSection2 .workContent2 .workText {
    font-size: 1rem;
    margin: 1.3rem 0;
  }
  #workSection2 .workImage2 img {
    top: -2rem;
    height: 23rem;
  }
}
@media (max-width: 540px) {
  #workSection2 {
    height: 20rem;
  }
  #workSection2 .curve {
    display: none;
  }
  #workSection2 .circle2 {
    width: 3rem;
  }
  #workSection2 .workContent2 {
    margin-left: -17px;
    margin-top: 7vw;
  }
  #workSection2 .workContent2 .workText {
    font-size: 0.9rem;
  }
  #workSection2 .workContent2 .workButtons button {
    font-size: 0.7rem;
  }
  #workSection2 .workContent2 .workMainButton button {
    font-size: 1.6vw;
  }
  #workSection2 .workImage2 img {
    top: -1rem;
    left: -0.5rem;
    height: 18rem;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
  #workSection2 {
    height: 18rem;
  }
  #workSection2 .workContent2 {
    margin-left: -68px;
    margin-top: 9vw;
    width: 50%;
  }
  #workSection2 .workContent2 .workHeading {
    font-size: 1rem;
  }
  #workSection2 .workContent2 .workButtons button {
    font-size: 0.5rem;
  }
  #workSection2 .workContent2 .workText {
    font-size: 0.7rem;
  }
  #workSection2 .workImage2 img {
    top: -0.5rem;
  }
}
@media (min-width: 344px) and (max-width: 411px) {
  #workSection2 .workContent2 {
    margin-left: -41px;
    margin-top: 2rem;
  }
  #workSection2 .workContent2 .workHeading {
    margin-bottom: 0;
    font-size: 1rem;
  }
  #workSection2 .workContent2 .workText {
    font-size: 0.7rem;
    font-size: 0.7rem;
  }
  #workSection2 .workContent2 .workButtons button {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
  #workSection2 .workImage2 img {
    top: -0.5rem;
  }
}
#workSection3 {
  background-image: url("../svg/workBg3.svg");
  height: 34.8rem;
  width: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin: 7vw 28vw 0 10vw;
  overflow: hidden;
}
#workSection3 .circle3 {
  position: relative;
  width: 15rem;
  height: 8vw;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 80%;
  background-color: #FFC9DC;
  padding: 15px;
  z-index: 5;
}
#workSection3 .workContent3 {
  width: 60%;
  height: 21.6rem;
  margin-left: -40px;
  margin-top: 6vw;
  font-family: "Mulish";
}
#workSection3 .workContent3 .workHeading {
  font-size: 2.5rem;
  color: #242F65;
  font-weight: 600;
  font-family: "Fraunces";
}
#workSection3 .workContent3 .workButtons {
  margin: 1.5vw 0;
}
#workSection3 .workContent3 .workButtons button {
  background-color: white;
  color: #5AB5D1;
  border-radius: 5px;
  padding: 7px 15px;
  border: 2px solid white;
}
#workSection3 .workContent3 .workText {
  font-weight: 500;
  font-size: 1.25rem;
  color: #525665;
  margin-bottom: 1.5vw;
}
#workSection3 .workContent3 .workMainButton button {
  padding: 1vw 2.5vw;
  border-radius: 0.5vw;
  color: white;
  border: 2px solid #FF774C;
  background-color: #FF774C;
  font-size: 1vw;
}
#workSection3 .workImage3 img {
  width: 26vw;
  position: relative;
  left: 9rem;
  top: -3rem;
  z-index: 4;
  height: 39vw;
  bottom: 3vw;
}
#workSection3 .curve {
  position: relative;
  top: 2px;
  width: 25vw;
  height: 36.1vw;
  border-top-left-radius: 90px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #FFC9DC;
}

@media (max-width: 1280px) {
  #workSection3 .workImage3 img {
    top: 4rem;
    height: 35vw;
  }
  #workSection3 .curve {
    height: 43.1vw;
  }
}
@media (max-width: 1024px) {
  #workSection3 {
    height: 32.8rem;
  }
  #workSection3 .circle3 {
    width: 10rem;
  }
  #workSection3 .workImage3 img {
    top: 5rem;
  }
  #workSection3 .curve {
    height: 50.8vw;
  }
}
@media (max-width: 820px) {
  #workSection3 .workImage3 img {
    top: -2rem;
    left: 6rem;
    height: 34rem;
  }
}
@media (max-width: 768px) {
  #workSection3 {
    height: 24rem;
  }
  #workSection3 .workContent3 .workHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #workSection3 .workContent3 .workText {
    font-size: 1rem;
    margin: 1.3rem 0;
  }
  #workSection3 .workImage3 img {
    top: 1rem;
    height: 23rem;
  }
}
@media (max-width: 540px) {
  #workSection3 {
    height: 20rem;
  }
  #workSection3 .curve {
    display: none;
  }
  #workSection3 .circle3 {
    width: 3rem;
  }
  #workSection3 .workContent3 {
    margin-left: -17px;
    margin-top: 7vw;
  }
  #workSection3 .workContent3 .workText {
    font-size: 0.9rem;
  }
  #workSection3 .workContent3 .workButtons button {
    font-size: 0.7rem;
  }
  #workSection3 .workContent3 .workMainButton button {
    font-size: 1.6vw;
  }
  #workSection3 .workImage3 img {
    top: 1rem;
    left: -0.5rem;
    height: 18rem;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
  #workSection3 {
    height: 18rem;
  }
  #workSection3 .workContent3 {
    margin-left: -68px;
    margin-top: 9vw;
    width: 50%;
  }
  #workSection3 .workContent3 .workHeading {
    font-size: 1rem;
  }
  #workSection3 .workContent3 .workButtons button {
    font-size: 0.5rem;
  }
  #workSection3 .workContent3 .workText {
    font-size: 0.7rem;
  }
  #workSection3 .workImage3 img {
    top: -0.5rem;
  }
}
@media (min-width: 344px) and (max-width: 411px) {
  #workSection3 .workContent3 {
    margin-left: -41px;
    margin-top: 3rem;
  }
  #workSection3 .workContent3 .workHeading {
    margin-bottom: 0;
    font-size: 1rem;
  }
  #workSection3 .workContent3 .workText {
    font-size: 0.7rem;
    font-size: 0.7rem;
  }
  #workSection3 .workContent3 .workButtons button {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
  #workSection3 .workImage3 img {
    top: -0.5rem;
  }
}
/* WORK SECTION 4 */
#workSection4 {
  background-image: url("../svg/workBg4.svg");
  height: 34.8rem;
  width: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin: 7vw 28vw 9vw 10vw;
  overflow: hidden;
}
#workSection4 .circle4 {
  position: relative;
  width: 15rem;
  height: 8vw;
  border-top-left-radius: 30%;
  border-bottom-right-radius: 80%;
  background-color: #F4E5D8;
  padding: 15px;
  z-index: 5;
}
#workSection4 .workContent4 {
  width: 60%;
  height: 21.6rem;
  margin-left: -40px;
  margin-top: 6vw;
  font-family: "Mulish";
}
#workSection4 .workContent4 .workHeading {
  font-size: 2.5rem;
  color: #242F65;
  font-weight: 600;
  font-family: "Fraunces";
}
#workSection4 .workContent4 .workButtons {
  margin: 1.5vw 0;
}
#workSection4 .workContent4 .workButtons button {
  background-color: #ECCFB8;
  color: #AE7E56;
  border-radius: 5px;
  padding: 7px 15px;
  border: 2px solid #ECCFB8;
}
#workSection4 .workContent4 .workText {
  font-weight: 500;
  font-size: 1.25rem;
  color: #525665;
  margin-bottom: 1.5vw;
}
#workSection4 .workContent4 .workMainButton button {
  padding: 1vw 2.5vw;
  border-radius: 0.5vw;
  color: white;
  border: 2px solid #FF774C;
  background-color: #FF774C;
  font-size: 1vw;
}
#workSection4 .workImage4 img {
  width: 26vw;
  position: relative;
  left: 9rem;
  top: -3rem;
  z-index: 4;
  height: 39vw;
  bottom: 3vw;
}
#workSection4 .curve {
  position: relative;
  top: 2px;
  width: 25vw;
  height: 36.1vw;
  border-top-left-radius: 90px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F4E5D8;
}

/* WORK SECTION 4 MEDIA QUERRY */
@media (max-width: 1280px) {
  #workSection4 .curve {
    height: 43.1vw;
  }
  #workSection4 .workImage4 img {
    top: 3rem;
  }
}
@media (max-width: 1024px) {
  #workSection4 {
    height: 32.8rem;
  }
  #workSection4 .circle4 {
    width: 10rem;
  }
  #workSection4 .workImage4 img {
    top: 5rem;
  }
  #workSection4 .curve {
    height: 51.1vw;
  }
}
@media (max-width: 820px) {
  #workSection4 .workImage4 img {
    top: -2rem;
    height: 33rem;
    left: 6rem;
  }
}
@media (max-width: 768px) {
  #workSection4 {
    height: 24rem;
  }
  #workSection4 .workContent4 .workHeading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #workSection4 .workContent4 .workText {
    font-size: 1rem;
    margin: 1.3rem 0;
  }
  #workSection4 .workImage4 img {
    top: 3rem;
    height: 20rem;
  }
}
@media (max-width: 540px) {
  #workSection4 {
    height: 20rem;
  }
  #workSection4 .curve {
    display: none;
  }
  #workSection4 .circle4 {
    width: 3rem;
  }
  #workSection4 .workContent4 {
    margin-left: -17px;
    margin-top: 7vw;
  }
  #workSection4 .workContent4 .workText {
    font-size: 0.9rem;
  }
  #workSection4 .workContent4 .workButtons button {
    font-size: 0.7rem;
  }
  #workSection4 .workContent4 .workMainButton button {
    font-size: 1.6vw;
  }
  #workSection4 .workImage4 img {
    top: 1rem;
    left: -0.5rem;
    height: 18rem;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
  #workSection4 {
    height: 18rem;
  }
  #workSection4 .workContent4 {
    margin-left: -68px;
    margin-top: 9vw;
    width: 50%;
  }
  #workSection4 .workContent4 .workHeading {
    font-size: 1rem;
  }
  #workSection4 .workContent4 .workButtons button {
    font-size: 0.5rem;
  }
  #workSection4 .workContent4 .workText {
    font-size: 0.7rem;
  }
  #workSection4 .workImage4 img {
    top: -0.5rem;
  }
}
@media (min-width: 344px) and (max-width: 411px) {
  #workSection4 .workContent4 {
    margin-left: -41px;
    margin-top: 3rem;
  }
  #workSection4 .workContent4 .workHeading {
    margin-bottom: 0;
    font-size: 1rem;
  }
  #workSection4 .workContent4 .workText {
    font-size: 0.7rem;
    font-size: 0.7rem;
  }
  #workSection4 .workContent4 .workButtons button {
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
  }
  #workSection4 .workImage4 img {
    top: -0.5rem;
  }
}
/* WORK SECTION 5 */
#workSection5 {
  height: 34.8rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: -3vw 0 0 10vw;
  border-radius: 2vw;
}
#workSection5 .workCard1 {
  width: 41.357vw;
  height: 47.214vw;
  padding: 1vw;
}
#workSection5 .workCard1 .workCardImage1 img {
  width: 35vw;
  border-radius: 1.5vw;
}
#workSection5 .workCard1 .workCardContent .workCardHeading {
  font-size: 1.5vw;
  font-weight: 600;
  font-family: "Fraunces";
  color: #242F65;
  margin-top: 1.3vw;
}
#workSection5 .workCard1 .workCardContent .workCardText {
  margin-top: 1vw;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 1vw;
  color: #525665;
}
#workSection5 .workCard1 .workCardContent .workCardButton button {
  background-color: #BBBBBB;
  color: white;
  padding: 1vw 2vw;
  margin-top: 1vw;
  border-radius: 1vw;
  border: #BBBBBB;
}
#workSection5 .workCard2 {
  width: 41.357vw;
  height: 47.214vw;
  padding: 1vw;
  padding-left: 7vw;
}
#workSection5 .workCard2 .workCardImage2 img {
  width: 35vw;
  border-radius: 1.5vw;
}
#workSection5 .workCard2 .workCardContent .workCardHeading {
  font-size: 1.5vw;
  font-weight: 600;
  font-family: "Fraunces";
  color: #242F65;
  margin-top: 1.3vw;
}
#workSection5 .workCard2 .workCardContent .workCardText {
  margin-top: 1vw;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 1vw;
  color: #525665;
}
#workSection5 .workCard2 .workCardContent .workCardButton button {
  background-color: #BBBBBB;
  color: white;
  padding: 1vw 2vw;
  margin-top: 1vw;
  border-radius: 1vw;
  border: #BBBBBB;
}

/* WORK SECTION 5 MEDIA QUERRY */
@media (max-width: 1280px) {
  #workSection5 .workCard1 .workCardContent .workCardHeading,
  #workSection5 .workCard2 .workCardContent .workCardHeading {
    font-size: 1.8vw;
  }
  #workSection5 .workCard1 .workCardContent .workCardText,
  #workSection5 .workCard2 .workCardContent .workCardText {
    font-size: 1.2vw;
  }
  #workSection5 .workCard1 .workCardContent .workCardButton button,
  #workSection5 .workCard2 .workCardContent .workCardButton button {
    margin-top: 2vw;
  }
}
@media (max-width: 1024px) {
  #workSection5 {
    height: 29rem;
  }
  #workSection5 .workCard1 .workCardContent .workCardHeading {
    font-size: 2vw;
  }
  #workSection5 .workCard1 .workCardContent .workCardText {
    font-size: 1.3vw;
  }
  #workSection5 .workCard1 .workCardContent .workCardButton button {
    margin-top: 2vw;
  }
  #workSection5 .workCard2 .workCardContent .workCardHeading {
    font-size: 2vw;
  }
  #workSection5 .workCard2 .workCardContent .workCardText {
    font-size: 1.3vw;
  }
  #workSection5 .workCard2 .workCardContent .workCardButton button {
    margin-top: 2vw;
  }
}
@media (max-width: 540px) {
  #workSection5 .workCard1 .workCardContent .workCardHeading,
  #workSection5 .workCard2 .workCardContent .workCardHeading {
    font-size: 2.2vw;
  }
  #workSection5 .workCard1 .workCardContent .workCardText,
  #workSection5 .workCard2 .workCardContent .workCardText {
    font-size: 1.5vw;
  }
  #workSection5 .workCard1 .workCardContent .workCardButton button,
  #workSection5 .workCard2 .workCardContent .workCardButton button {
    font-size: 0.7rem;
  }
}
/* ABOUT ME SECTION */
#aboutSection {
  margin-left: 0.5vw;
  background-image: url("../svg/workBg6.svg");
  width: 99%;
  height: 36vw;
}
#aboutSection .aboutMeHeading .workTitle {
  padding-top: 4vw;
  margin-left: 4vw;
}
#aboutSection .mainAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutSection .mainAboutMe .aboutMeContent {
  width: 45%;
  height: 18.6vw;
  margin-right: 7vw;
}
#aboutSection .mainAboutMe .aboutMeContent p {
  font-size: 1.2vw;
  font-weight: 500;
  font-family: "Mulish";
  margin-top: 3vw;
}
#aboutSection .mainAboutMe .aboutMeContent p:first-child {
  margin-top: -8px;
}
#aboutSection .mainAboutMe .aboutMeContent .p1 {
  color: #FF774C;
}
#aboutSection .mainAboutMe .aboutMeContent .p2 {
  color: #7AA3F3;
  text-decoration: underline;
}
#aboutSection .mainAboutMe .aboutMeImage .image img {
  margin-top: 5vw;
  width: 90%;
  border-radius: 2vw;
}
#aboutSection .mainAboutMe .aboutMeImage .circleMain2 {
  position: relative;
  bottom: 5.5vw;
  left: 19vw;
  display: flex;
  justify-content: center;
  background-color: #E3E3E3;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
#aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 {
  padding-left: 1.5vw;
  padding-top: 0.5vw;
}
#aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 #text2 {
  font-weight: 800;
}
#aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 span {
  position: absolute;
  transform-origin: 0 70px;
  font-size: 12px;
}
#aboutSection .mainAboutMe .aboutMeImage .circleMain2 #bannerArrow2 {
  position: relative;
  top: 9vh;
  right: 0.8vw;
  font-size: 30px;
}

/* ABOUT ME MEDIA QUERRY */
@media (max-width: 1280px) {
  #aboutSection {
    height: 40vw;
  }
  #aboutSection .mainAboutMe .aboutMeContent {
    width: 40%;
    margin-right: 0vw;
    margin-top: -3rem;
  }
  #aboutSection .mainAboutMe .aboutMeImage .image img {
    margin-left: 10%;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 {
    left: 29vw;
    top: -7rem;
    width: 12vw;
    height: 12vw;
  }
}
@media (max-width: 1024px) {
  #aboutSection {
    height: 42vw;
  }
  #aboutSection .aboutMeHeading .workTitle {
    padding-top: 6vw;
  }
  #aboutSection .mainAboutMe .aboutMeContent {
    width: 40%;
    height: 25vw;
    margin-right: 0;
    margin-left: 10%;
    padding-top: 1.8vw;
  }
  #aboutSection .mainAboutMe .aboutMeImage .image img {
    width: 70%;
    margin-left: 8%;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 {
    bottom: 8.5vw;
    left: 26vw;
    width: 15vw;
    height: 15vw;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 #bannerArrow2 {
    top: 9vh;
  }
}
@media (max-width: 912px) {
  #aboutSection .aboutMeHeading .workTitle {
    margin-top: 0rem;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 {
    left: 30vw;
    width: 16vw;
    height: 16vw;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 #bannerArrow2 {
    top: 4.5vh;
  }
}
@media (min-width: 853px) and (max-width: 911px) {
  #aboutSection {
    margin-top: -2rem;
  }
}
@media (max-width: 820px) {
  #aboutSection .aboutMeHeading .workTitle {
    margin-top: -2rem;
  }
}
@media (max-width: 768px) {
  #aboutSection .aboutMeHeading .workTitle {
    margin-top: -4rem;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 span {
    transform-origin: 0 58px;
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  #aboutSection .aboutMeHeading .workTitle {
    margin-top: -10rem;
    font-size: 1rem;
  }
  #aboutSection .mainAboutMe .aboutMeContent {
    width: 64%;
  }
  #aboutSection .mainAboutMe .aboutMeImage .image img {
    width: 65%;
    margin-left: 20%;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 {
    top: -4rem;
    left: 32vw;
    width: 18vw;
    height: 18vw;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 span {
    transform-origin: 0 43px;
    font-size: 8px;
  }
}
@media (min-width: 360px) and (max-width: 539px) {
  #aboutSection .aboutMeHeading .workTitle {
    margin-top: -14rem;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 span {
    transform-origin: 0 36px;
    font-size: 8px;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 #bannerArrow2 {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 389px) {
  #aboutSection {
    height: 48vw;
  }
  #aboutSection .aboutMeHeading .workTitle {
    margin-top: -15rem;
  }
  #aboutSection .mainAboutMe .aboutMeContent p {
    font-size: 0.35rem;
  }
}
@media (max-width: 344px) {
  #aboutSection {
    margin-top: -17rem;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 .bannerCircle2 span {
    transform-origin: 0 30px;
    font-size: 6px;
  }
  #aboutSection .mainAboutMe .aboutMeImage .circleMain2 #bannerArrow2 {
    display: none;
  }
}
/* SERVICE SECTION */
.serviceTitle {
  text-align: center;
}

#serviceSection {
  margin-top: 5vw;
  width: 80%;
  height: 65vw;
  margin-left: 10vw;
}
#serviceSection .serviceMainHeading .serviceTitle {
  padding-top: 4vw;
}
#serviceSection .serviceCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 6vw;
}
#serviceSection .serviceCards .serviceCard {
  background-color: #E0E0E0;
  border-radius: 2vw;
  width: 33%;
  height: 27rem;
  padding: 3vw;
  margin-bottom: 3vw;
}
#serviceSection .serviceCards .serviceCard .serviceIcon i {
  font-size: 3vw;
  color: #FF774C;
}
#serviceSection .serviceCards .serviceCard .serviceHeading {
  margin-top: 1.5vw;
  font-size: 1.8vw;
  font-weight: 600;
  font-family: "Fraunces";
}
#serviceSection .serviceCards .serviceCard .serviceText {
  margin-top: 1.5vw;
  font-weight: 500;
  font-size: 1.4vw;
  font-family: "Mulish";
}
#serviceSection .serviceCards .serviceCard .serviceLists {
  margin-top: 2.5vw;
  font-weight: 600;
  font-size: 1.4vw;
  font-family: "Mulish";
  padding-left: 1.2vw;
}
#serviceSection .serviceCards .serviceCard .serviceLists ul li {
  list-style: circle !important;
}
#serviceSection .serviceCards .serviceCard .serviceLists li::marker {
  color: red;
}

/* SERVICE MEDIA QUERRY */
@media (max-width: 1024px) {
  #serviceSection {
    margin-top: 6vw;
  }
  #serviceSection .serviceCards .serviceCard {
    height: 18rem;
  }
}
@media (max-width: 768px) {
  #serviceSection .serviceCards .serviceCard {
    height: 14rem;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  #serviceSection .serviceMainHeading .serviceTitle {
    font-size: 1rem;
  }
  #serviceSection .serviceCards .serviceCard {
    height: 10rem;
  }
}
@media (min-width: 344px) and (max-width: 539px) {
  #serviceSection .serviceMainHeading .serviceTitle {
    font-size: 1rem;
  }
  #serviceSection .serviceCards .serviceCard {
    height: 8rem;
  }
}
/* TESTIMONIAL SECTION */
#testimonialSection {
  margin-top: 8vw;
}
#testimonialSection .testimonialMainHeading .testimonialTitle {
  padding-top: 4vw;
  text-align: center;
}
#testimonialSection .testimonialContent {
  width: 86%;
  height: 87vw;
  background-color: #FFF4F0;
  margin-top: 5vw;
  margin-left: 6vw;
  border-radius: 2vw;
  padding: 8vw 5vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialContentHeading {
  color: #242F65;
  font-weight: 600;
  font-size: 2vw;
  font-family: "Fraunces";
  margin-bottom: 4vw;
  margin-left: 1vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment {
  width: 95%;
  height: 16.6vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro {
  display: flex;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentImage img {
  border-radius: 50%;
  border: 2px solid white;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName {
  margin-left: 1.5vw;
  margin-top: 1vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName .commentHeading {
  color: #242F65;
  font-weight: 600;
  font-size: 1.5vw;
  font-family: "Fraunces";
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName .commentSubHeading {
  color: #525665;
  font-weight: 500;
  font-size: 1.5vw;
  padding-top: 0.3vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext {
  display: flex;
  margin-top: 0.5vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentQuotes {
  color: #FF774C;
  width: 3.274vw;
  height: 3.274vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentQuotes i {
  font-size: 3vw;
  margin-left: 1.3vw;
  margin-top: 1.3vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentText {
  font-weight: 400;
  font-size: 1.4vw;
  font-family: "Fraunces";
  color: #525665;
  line-height: 1.8vw;
  margin-left: 3.6vw;
}
#testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentLine {
  width: 69.714vw;
  border: 1px solid #D0A798;
  margin-top: 1.5vw;
}

/* TESTIMONIAL MEDIA QUERRY */
@media (max-width: 1280px) {
  #testimonialSection {
    margin-top: 24vw;
  }
}
@media (max-width: 1024px) {
  #testimonialSection {
    margin-top: 14vw;
  }
  #testimonialSection .testimonialContent {
    padding: 6vw 5vw;
    height: 102vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment {
    margin-top: 4vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName {
    margin-top: 2.2vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentQuotes i {
    margin-left: 2.8vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentText {
    margin-left: 6.5vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentLine {
    margin-top: 3vw;
  }
}
@media (max-width: 912px) {
  #testimonialSection .testimonialMainHeading .testimonialTitle {
    padding-top: 10vw;
  }
}
@media (min-width: 853px) and (max-width: 911px) {
  #testimonialSection .testimonialMainHeading .testimonialTitle {
    padding-top: 15vw;
  }
}
@media (max-width: 820px) {
  #testimonialSection .testimonialMainHeading .testimonialTitle {
    padding-top: 18vw;
  }
}
@media (max-width: 768px) {
  #testimonialSection .testimonialMainHeading .testimonialTitle {
    padding-top: 8vw;
  }
}
@media (max-width: 540px) {
  #testimonialSection .testimonialMainHeading .testimonialTitle {
    font-size: 1rem;
  }
  #testimonialSection .testimonialContent {
    padding: 6vw 5vw;
    height: 114vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment {
    margin-top: 6vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName {
    margin-top: 4.2vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName .commentHeading {
    font-size: 2vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentName .commentSubHeading {
    font-size: 1.7vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentImage img {
    width: 4rem;
    height: 4rem;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentText {
    margin-left: 9.5vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentContext .commentQuotes i {
    margin-left: 4.8vw;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
  #testimonialSection .testimonialContent {
    height: 135vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment {
    margin-top: 9.5vw;
  }
}
@media (min-width: 344px) and (max-width: 411px) {
  #testimonialSection {
    margin-top: 25vw;
  }
  #testimonialSection .testimonialContent .testimonialInner .testimonialComments .testimonialComment .commentIntro .commentImage img {
    width: 3rem;
    height: 3rem;
  }
}
/* NEWS SECTION */
#newsSection {
  margin-top: 5vw;
  margin-bottom: 12vw;
  padding-left: 6vw;
}
#newsSection .newsMainHeading .newsTitle {
  padding-top: 4vw;
  text-align: center;
  margin-left: -6%;
}
#newsSection .newsMainHeading .bannerLine1 {
  width: 85%;
  margin-left: 4%;
}
#newsSection .newsCards {
  margin-top: 5vw;
  width: 87.071vw;
  height: 44.786vw;
  border-radius: 2vw;
  display: flex;
  justify-content: space-around;
}
#newsSection .newsCards .newsCard {
  width: 40.429vw;
  height: 44.786vw;
}
#newsSection .newsCards .newsCard .cardImage img {
  border-radius: 1.8vw;
  width: 40.357vw;
  height: 24.929vw;
}
#newsSection .newsCards .newsCard .newsCardContent {
  padding-left: 1vw;
}
#newsSection .newsCards .newsCard .newsCardContent .newsDate {
  margin-top: 1.7vw;
  color: #525665;
  font-weight: 500;
  font-size: 1.4;
  font-family: "Mulish";
}
#newsSection .newsCards .newsCard .newsCardContent .newsHeading {
  margin-top: 1.7vw;
  font-weight: 600;
  font-size: 1.6vw;
  color: #242F65;
  font-family: "Fraunces";
}
#newsSection .newsCards .newsCard .newsCardContent .newsText {
  margin-top: 1.8vw;
  font-weight: 500;
  font-size: 1.2;
  font-family: "Mulish";
  color: #525665;
}
#newsSection .newsCards .newsCard .newsCardContent .newsLink {
  color: #242F65;
  font-weight: 700;
  font-family: "Mulish";
  size: 1vw;
  margin-top: 3vw;
}

/* NEWS MEDIA QUERRY */
@media (max-width: 1024px) {
  #newsSection {
    margin-top: 6vw;
  }
  #newsSection .newsCards {
    margin-top: 6vw;
  }
}
@media (max-width: 540px) {
  #newsSection .newsMainHeading .newsTitle {
    font-size: 1rem;
  }
  #newsSection .newsCards .newsCard .newsCardContent .newsDate {
    font-size: 0.7rem;
  }
  #newsSection .newsCards .newsCard .newsCardContent .newsHeading {
    font-size: 0.8rem;
  }
  #newsSection .newsCards .newsCard .newsCardContent .newsText {
    font-size: 0.8rem;
  }
  #newsSection .newsCards .newsCard .newsCardContent .newsLink {
    font-size: 0.9rem;
  }
}
/* FOOTER SECTION */
#footerSection {
  margin-top: 3.5vw;
  background-image: url("../svg/footerBg.svg");
  width: 100%;
  height: 51vw;
}
#footerSection .circleMain3 {
  padding-left: 47.8vw;
  padding-top: 6vw;
}
#footerSection .circleMain3 .bannerCircle3 span {
  position: absolute;
  transform-origin: 0 80px;
  font-size: 15px;
  color: #242F65;
}
#footerSection .circleMain3 .bannerCircle3 #text3 {
  font-weight: 800;
}
#footerSection .circleMain3 #bannerArrow3 {
  position: relative;
  top: 10vh;
  right: 0.8vw;
  font-size: 40px;
}
#footerSection .footerText {
  padding-top: 13vw;
  padding-left: 32vw;
  color: #242F65;
  font-weight: 500;
  font-size: 2vw;
}
#footerSection .footerLine {
  border: 1px solid #D0A798;
  width: 98.9vw;
  margin-top: 4vw;
}
#footerSection .footerBox {
  display: flex;
  justify-content: center;
  padding-top: 5vw;
}
#footerSection .footerBox .footerLinks {
  display: flex;
  color: #242F65;
  font-weight: 400;
  font-size: 1.2vw;
  font-family: "Fraunces";
  padding-right: 15vw;
}
#footerSection .footerBox .footerLinks .pageLinks {
  display: flex;
  flex-direction: column;
}
#footerSection .footerBox .footerLinks .pageLinks a {
  padding-bottom: 2vw;
  padding-right: 7vw;
}
#footerSection .footerBox .footerLinks .socialLinks {
  display: flex;
  flex-direction: column;
}
#footerSection .footerBox .footerLinks .socialLinks a {
  padding-bottom: 2vw;
}
#footerSection .footerBox .footerComment {
  width: 42.143vw;
  height: 5.286vw;
  background-color: white;
  color: #242F65;
  font-weight: 400;
  font-family: "Fraunces";
  font-size: 1.2vw;
  padding: 1.2vw 2.2vw;
  border-radius: 2vw;
}
#footerSection .footerBox .footerComment .footerButton {
  background-color: #242F65;
  border-radius: 1vw;
  padding: 0.8vw 2.5vw;
  color: white;
  margin-left: 0.6vw;
}
#footerSection .copyRightText {
  color: #242F65;
  font-family: "Mulish";
  font-weight: 500;
  font-size: 1.3vw;
  text-align: center;
  margin-top: 1vw;
}

/* FOOOTER MEDIA QUERRY */
@media (max-width: 1280px) {
  #footerSection {
    margin-top: -3.5vw;
    height: 62vw;
  }
  #footerSection .footerBox .footerComment {
    width: 44%;
  }
  #footerSection .footerText {
    padding-left: 27.5rem;
  }
}
@media (max-width: 1024px) {
  #footerSection {
    height: 58vw;
  }
  #footerSection .circleMain3 {
    padding-left: 49vw;
  }
  #footerSection .footerText {
    padding-top: 16vw;
    padding-left: 21.5rem;
  }
  #footerSection .footerBox .footerLinks {
    font-size: 1.5vw;
  }
  #footerSection .footerBox .footerComment {
    width: 52%;
    font-size: 1.5vw;
  }
}
@media (max-width: 912px) {
  #footerSection {
    height: 76rem;
  }
  #footerSection .circleMain3 #bannerArrow3 {
    top: 5.5vh;
  }
  #footerSection .footerBox .footerComment {
    width: 53%;
  }
  #footerSection .footerText {
    padding-left: 19.5rem;
  }
}
@media (min-width: 853px) and (max-width: 911px) {
  #footerSection {
    height: 70rem;
    margin-top: 8rem;
  }
  #footerSection .footerBox .footerComment {
    width: 55%;
  }
  #footerSection .footerText {
    padding-left: 18rem;
    padding-top: 11rem;
  }
}
@media (max-width: 820px) {
  #footerSection {
    height: 65rem;
    margin-top: 7rem;
  }
  #footerSection .footerBox .footerComment {
    width: 55%;
  }
  #footerSection .footerText {
    padding-top: 24vw;
    padding-left: 18rem;
  }
}
@media (max-width: 768px) {
  #footerSection {
    height: 54rem;
  }
  #footerSection .footerText {
    padding-top: 21vw;
    font-size: 1.2rem;
  }
}
@media (max-width: 540px) {
  #footerSection {
    height: 25rem;
  }
  #footerSection .footerBox .footerComment {
    width: 38%;
    height: 3.5rem;
  }
  #footerSection .footerBox .footerComment .footerButton {
    font-size: 0.6rem;
    margin: 0.5rem 0 0 2.7rem;
  }
  #footerSection .footerBox .footerLinks {
    font-size: 2vw;
  }
  #footerSection .footerText {
    padding-top: 24vw;
    font-size: 1rem;
    padding-left: 9rem;
  }
  #footerSection .circleMain3 #bannerArrow3 {
    display: none;
  }
  #footerSection .circleMain3 .bannerCircle3 span {
    transform-origin: 0 53px;
    font-size: 10px;
  }
}
@media (min-width: 412px) and (max-width: 539px) {
  #footerSection {
    margin-top: 10rem;
    height: 35rem;
  }
  #footerSection .footerText {
    padding-top: 27vw;
    font-size: 1rem;
    padding-left: 6rem;
  }
}
@media (min-width: 344px) and (max-width: 411px) {
  #footerSection {
    margin-top: 11rem;
    height: 30rem;
  }
  #footerSection .footerText {
    padding-top: 34vw;
    font-size: 1rem;
    padding-left: 5rem;
  }
  #footerSection .footerBox .footerComment .footerButton {
    font-size: 0.6rem;
    margin: 0.5rem 0 0 1rem;
  }
}
@media (max-width: 360px) {
  #footerSection {
    height: 22.5rem;
  }
}
@media (max-width: 344px) {
  #footerSection {
    height: 31rem;
  }
}/*# sourceMappingURL=portFolio.css.map */